<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="SpeechKey" value="61a895555e5c47c18e40cc08e708ebb0"/>
  <add key="AuthenticationUri" value="https://api.cognitive.microsoft.com/sts/v1.0/issueToken"/>
  <add key="BotId" value="samolebotdialog"/>
  <add key="DirectLineSecret" value="7LOlxJ8uBWU.cwA.ZZM.JKaspFPojmeAgnOrdoRvImmndDnyF49E7_hioR5diSg"/>
</appSettings>
</configuration>